:root {
    /* cores */
    --cor-primaria: #000611;
    --cor-suporte: #0A1A2A;
    --cor-contraste: #142B3A;
    --cor-secundaria: #203646;
    --cor-destaque: #00B4D8;
    --cor-branco: #ffffff;
}

/* tipografia */
.titulo,
.subtitulo,
.subtitulo_tres {
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: var(--cor-branco);
}

.titulo {
    font-weight: 700;
    font-size: clamp(1.75rem, 2.80vw, 2rem);
    padding: 2rem 0;
}

.subtitulo {
    font-weight: 600;
    font-size: clamp(1.25rem, 2.5vw, 1.75rem);
    padding: 1.5rem 0;
}

.subtitulo_tres {
    font-weight: 400;
    font-size: clamp(1.125rem, 2vw, 1.37rem);
    padding: 1.25rem 0;
    text-transform: capitalize;
}

.texto,
p {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.2rem, 1.30vw, 1.5rem);
    text-align: justify;
    color: var(--cor-branco);
}

/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    height: 100%;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

figure img {
    max-width: 70%;
    object-fit: cover;
}

button {
    background-color: transparent;
    border: transparent;
    text-align: left;
}

iframe {
    border-radius: 20px;
}

/* estilo padrao da pagina */
.flexivel_linha-centro,
.flexivel_coluna-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexivel_coluna-centro {
    flex-direction: column;
}

.espaco {
    padding: 3rem 0;
}

/* cabeçalho */
header {
    background-color: var(--cor-primaria);
    gap: 1rem;
    padding: 1rem 0;
/*     position: sticky;
    top: 0; */
}

.logo_img {
    width: 60%;
}

header nav ul {
    color: var(--cor-destaque);
    width: 60vw;
    gap: 10rem;
}

header nav ul li a {
    color: var(--cor-destaque);
    font-family: "Inter", sans-serif;
    font-size: clamp(1.12rem, 2vw, 1.37rem);
    transition: border-bottom 0.3s ease;
}

header nav ul li a:hover {
    font-weight: bold;
    border-bottom: 3px solid var(--cor-destaque);
}

main {
    display: flex;
}

/* aside */
aside {
    min-width: 15vw;
    padding: 3% 2%;
    background-color: var(--cor-suporte);
    overflow-y: auto;
}

aside nav {
    display: flex;
    flex-direction: column;
}

aside nav a {
    color: var(--cor-branco);
}

aside nav a:hover {
    color: var(--cor-destaque);
}

section {
    /* max-width: 65vw; */
    height: auto;
    padding: 2rem 4rem;
}

/* rodape */
footer {
    width: 100%;
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    padding: 1%;
    font-size: 1rem;
}